<section id="catalog">
    <h1>All Movies</h1>
    <div class="band">

        {{#each movies}}
        {{!-- To use the partial write {{>}} and the name of the partial --}}
        {{>movie}}
    </div>
    {{!-- If there are no movies display this --}}
    {{else}}
    <div class="no-posts">
        <p class="no-offer">There are no movies yet...</p>
    </div>
    {{/each}}
    </div>
</section>